:root {
  
  --color-primary-lighter: #C8FAD6;
  --color-primary-light: #5BE49B;
  --color-primary-main: #00A76F;

  --color-gray-100: #F9FAFB;
  --color-gray-200:#919eab29;
  --color-gray-500: #919EAB;
  --color-gray-600: #637381;
  
  --color-text-primary: #212B36;
  --color-text-secondary: #637381;
  --color-text-disabled: #919eab;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/************************* 
********  LAYOUT  ********
**************************/

body {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

header,
footer {
  background-color: var(--color-gray-200);
}

header,
footer,
main {
  padding-left: 3rem;
  padding-right: 3rem;
}

header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

main,
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main-container {
  overflow-y: auto;
}

main {
  height: 2000px;
}

@media screen and (min-width: 900px) {  
  header,
  footer,
  main {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

/************************* 
********  TYPOGRAPHY  ********
**************************/

html {
  font-size: 62.5%;
}

body {
  color: var(--color-text-primary);
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  color: var(--color-text-primary);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
}

/************************* 
********  INPUT  ********
**************************/
.input {
  position: relative;
  display: flex;
  align-items: center;
}

.input > .input__start-icon,
.input > .input__button-action {
  position: absolute;
}

.input > .input__start-icon {
  left: 2rem;
}

.input > .input__button-action {
  right: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.input > .input__button-action:hover {
  transform: scale(1.2);
}

.input > input {
  border: 0;
  padding: 2rem;
  padding-left: 4rem;
  width: 100%;
  border-radius: 8px;
  height: 1.5rem;
}

.input > input::placeholder {
  color: var(--color-text-disabled);
}

.input > input,
.input > input::placeholder {
  font-size: 1.4rem;
}

@media screen and (min-width: 900px) {
  .input > .input__button-action {
    display: none;
  }
}


/************************* 
********  BUTTON  ********
**************************/

.button {
  background-color: var(--color-primary-main);
  border: none;
  color: var(--color-gray-100);
  padding: 0.8rem;
  font-size: 1.4rem;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 167, 111, 0.24);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.1);
}

.button--small {
  font-size: 1.2rem;
  padding: 0.6rem;
}

.button--large {
  font-size: 1.6rem;
  padding: 1rem;
}

/************************* 
********  NAVBAR  ********
**************************/

.navbar {
  display: flex;
  justify-content: space-between;
  column-gap: 5rem;
  align-items: center;
}

.navbar__input-search {
  display: none;
}

.navbar__input-search--open {
  display: flex;
  position: absolute;
  background-color: #eeeff1;
  top: 7rem;
  padding: 1rem;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar__logo {}


.navbar__items-container {
  position: fixed;
  opacity: 0;
  background-color: var(--color-gray-100);
  padding: 2rem;
  top: 0;
  bottom: 0;
  right: -100%;
  z-index: 15;
  transition: all 0.3s ease-in;
}

.navbar__items-container--open {
  right: 0;
  left: 0;
  opacity: 1;
}

.navbar__actions-container {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.navbar__toggle-menu-button-open,
.navbar__toggle-menu-button-close,
.navbar__toggle-search-input-button {
  display: flex;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.navbar__toggle-menu-button-open svg,
.navbar__toggle-menu-button-close svg,
.navbar__toggle-search-input-button svg {
  width: 3rem;
  height: 3rem;
  color: var(--color-primary-main);
  transition: all 0.2s ease-in;
}

.navbar__toggle-search-input-button svg {
  width: 2rem;
  height: 2rem;
}

.navbar__toggle-menu-button-open svg:hover,
.navbar__toggle-menu-button-close svg:hover,
.navbar__toggle-search-input-button svg:hover { 
  transform: scale(1.2);
}

.navbar__items {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
  padding: 0;
}

.navbar__item {
  list-style: none;
}

.navbar__item > a {
  text-wrap: nowrap;
}

.navbar__item a:hover {
  transition: color 0.15s ease;
}

.navbar__item a {
  position: relative;
}

.navbar__item a:hover,
.navbar__item.active a {
  color: var(--color-primary-main);
}

.navbar__item.active a::before {
  width: 6px;
  height: 6px;
  top: 40%;
  left: -12px;
  opacity: 0.64;
  content: "";
  border-radius: 50%;
  position: absolute;
  background-color: currentcolor;
}

@media screen and (min-width: 900px) {
  .navbar__items-container {
    display: block;
    position: relative;
    background-color: inherit;
    padding: 0;
    top: inherit;
    bottom: inherit;
    right: inherit;
    left: inherit;
    z-index: inherit;
    opacity: inherit;
  }

  .navbar__toggle-menu-button-close {
    display: none;
  }

  .navbar__items {
    flex-direction: row;
    column-gap: 2rem;
    margin: 0;
  }

  .navbar__item {
    padding: 1rem;
  }

  .navbar__input-search {
    display: flex;
    flex-grow: 1;
  }

  .navbar__input-search--open {
    position: relative;
    background-color: transparent;
    top: inherit;
    padding: 1rem;
    left: inherit;
    right: inherit;
  }

  .navbar__input-search > input {
    width: 100%;
    max-width: 500px;
  }

  .navbar__actions-container {
    display: none;
  }

  .navbar__toggle-menu-button-close {
    display: none;
  }
}
