:root {
  --color-primary: #00A76F;

  --color-gray-100: #F9FAFB;
  --color-gray-500: #919EAB;
  --color-gray-600: #637381;
  
  --color-text-primary: #212b36;
  --color-text-secondary: #637381;
  --color-text-disabled: #919eab;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/************************* 
********  LAYOUT  ********
**************************/

body,
header,
main,
footer {
  background-color: var(--color-gray-100);
}

header,
main,
footer {
  padding: 2rem 3rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  border-bottom: 1px solid var(--color-primary);
}

main {
  margin-top: 76px;
}

footer {
  border-top: 1px solid var(--color-primary);
}

/************************* 
********  TYPOGRAPHY  ********
**************************/

html {
  font-size: 62.5%;
}

body {
  color: var(--color-text-primary);
  font-family: "Public Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  color: var(--color-primary);
}

/************************* 
********  INPUT  ********
**************************/

.input-text {
  padding: 1rem;
  font-size: 1.4rem;
  border-radius: 0.8rem;
  border: 1px solid var(--color-gray-500);
}

.input-text:focus,
.input-text:focus-visible {
  border: 1px solid var(--color-primary);
  outline: none;
}

.input-text--small {
  font-size: 1.2rem;
  padding: 0.6rem;
}

.input-text--medium {
  font-size: 1.4rem;
  padding: 1rem;
}

.input-text--big {
  font-size: 1.6rem;
  padding: 1.4rem;
}

/************************* 
********  NAVBAR  ********
**************************/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo {
  width: 100px;
}

.navbar__items-container {
  position: fixed;
  opacity: 0;
  background-color: var(--color-gray-100);
  padding: 2rem;
  top: 0;
  bottom: 0;
  right: -100%;
  z-index: 15;
  transition: all 0.3s ease-in;
}

.navbar__items-container--open {
  right: 0;
  left: 0;
  opacity: 1;
}

.navbar__toggle-menu-button-open,
.navbar__toggle-menu-button-close{
  display: flex;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.navbar__toggle-menu-button-open svg,
.navbar__toggle-menu-button-close svg {
  width: 3rem;
  height: 3rem;
  color: var(--color-primary);
  transition: all 0.2s ease-in;
}

.navbar__toggle-menu-button-open svg:hover,
.navbar__toggle-menu-button-close svg:hover { 
  transform: scale(1.1);
  color: var(--color-gray-600);
}

.navbar__items {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
  padding: 0;
}

.navbar__item {
  list-style: none;
}

@media screen and (min-width: 700px) {
  .navbar__items-container {
    display: block;
    position: relative;
    background-color: inherit;
    padding: 0;
    top: inherit;
    bottom: inherit;
    right: inherit;
    left: inherit;
    z-index: inherit;
    opacity: inherit;
  }

  .navbar__toggle-menu-button-close {
    display: none;
  }

  .navbar__items {
    flex-direction: row;
    column-gap: 2rem;
    margin: 0;
  }

  .navbar__item {
    padding: 1rem;
  }

  .navbar__item:hover {
    background-color: var(--color-primary);
    opacity: 0.2;
  }

  .navbar__toggle-menu-button-open,
  .navbar__toggle-menu-button-close {
    display: none;
  }
}

/************************* 
********  MAIN  ********
**************************/

main {
  height: 2000px;
}