:root {
  
  --color-primary-lighter: #C8FAD6;
  --color-primary-light: #5BE49B;
  --color-primary-main: #00A76F;

  --color-gray-100: #F9FAFB;
  --color-gray-200:#919eab29;
  --color-gray-500: #919EAB;
  --color-gray-600: #637381;
  
  --color-text-primary: #212B36;
  --color-text-secondary: #637381;
  --color-text-disabled: #919eab;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}