/************************** 
 ********  LAYOUT  ********
 **************************/

.body {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.header,
.footer {
  background-color: var(--color-gray-200);
}

.header,
.footer,
.main > *:not(.hero) {
  padding-left: 3rem;
  padding-right: 3rem;
}

.main > *:not(.hero) {
  margin: 3rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.main-container > .main {
  position: relative;
  flex-grow: 1;
}

@media screen and (min-width: 1100px) {  
  .header,
  .footer,
  .main > *:not(.hero) {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .footer {
    padding-top: 6rem;
  }
}