.breadcrumb {
  display: flex;
  column-gap: 2rem;
  margin: 2rem 0;
}

.breadcrumb > .breadcrumb__link, 
.breadcrumb > .breadcrumb__current {
  font-size: 1.4rem;
  font-weight: 400;
}

.breadcrumb > .breadcrumb__link {
  color: var(--color-primary-main);
}

.breadcrumb > .breadcrumb__current {
  color: var(--color-text-disabled);
  cursor: default;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.breadcrumb > .breadcrumb__circle-container {
  display: flex;
  align-items: center;
}

.breadcrumb > .breadcrumb__circle-container > .breadcrumb__circle {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: rgb(145, 158, 171);
}


@media screen and (min-width: 1100px) {
  .breadcrumb {
    margin: 5rem 0;
  }
}