.featured-books {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
}

/* 
  
  In CSS, selector specificity is a mechanism to determine which styles are applied to an element when 
  multiple conflicting styles are defined. It's represented by a tuple of three values: (a, b, c), where:

    a represents the number of ID selectors
    b represents the number of class selectors, attribute selectors, and pseudo-classes
    c represents the number of element selectors and pseudo-elements

  In this case, "Selector Specificity: (0, 2, 0)" would win because it has a higher specificity in 
  the second position (b) compared to "Selector Specificity: (0, 1, 1)". The comparison is done from 
  left to right in the tuple, and the second value (b) takes precedence over the third value (c). 
  So, the selector with more class selectors, attribute selectors, and pseudo-classes wins. 
*/

.featured-books h1 {
  color: var(--color-primary-main) !important;
}

.featured-books .featured-books__title {
  color: red;
  font-size: 3.25rem;
  text-align: left;
}

.featured-books > .featured-books__list {
  display: grid;
  column-gap: 3rem;
  row-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
} 

.featured-books__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 1.6rem;
  border: 1px solid var(--color-border);
  box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
}

.featured-books__item .featured-books__image-container {
  width: 100%;
  height: 25rem;
  margin: 0;
}

.featured-books__item .featured-books__image-container > .featured-books__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.featured-books__item .featured-books__title,
.featured-books__item .featured-books__overview {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.featured-books__item .featured-books__title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-text-primary) !important;
  padding-top: 2.4rem;
  -webkit-line-clamp: 1;
  margin: 0;
}

.featured-books__item .featured-books__overview {
  font-size: 1.3rem;
  color: var(--color-text-secondary);
  font-weight: 200;
  -webkit-line-clamp: 4;
}

@media screen and (min-width: 1100px) {}