.featured-books {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
}

.featured-books .featured-books__title {
  color: var(--color-primary-main);
  font-size: 3.25rem;
}

.featured-books > .featured-books__list {
  display: grid;
  column-gap: 3rem;
  row-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
} 

.featured-books__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 1.6rem;
  border: 1px solid var(--color-border);
  box-shadow: 0px 0px 2px rgba(145, 158, 171, 0.2), 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
}

.featured-books__item > .featured-books__image-container {
  width: 100%;
  height: 25rem;
  margin: 0;
}

.featured-books__item > .featured-books__image-container > .featured-books__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.featured-books__item .featured-books__title,
.featured-books__item .featured-books__overview {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.featured-books__item .featured-books__title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-text-primary);
  padding-top: 2.4rem;
  -webkit-line-clamp: 1;
  margin: 0;
}

.featured-books__item .featured-books__overview {
  font-size: 1.3rem;
  color: var(--color-text-secondary);
  font-weight: 200;
  -webkit-line-clamp: 4;
}