.hero {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 50rem;
  padding: 0 1rem;
}

.hero__background {
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}

.hero__background--home {
  background-image: linear-gradient(rgba(22, 28, 36, 0.6), rgba(22, 28, 36, 0.6)), url(https://rgcopcorpweb103-cdn-endpoint.azureedge.net/-/media/Project/COP/COP/COP/Assets/Images-and-Video/CityofPerthLibrary1600x700.jpg?h=700&iar=0&w=1600&rev=7742715fee34473f9a6efbb6912b7f84&useCustomFunctions=1&centerCrop=1&hash=485384D6746CE91CD47DFF67704487C8);
}

.hero__background--help-you {
  background-image: linear-gradient(rgba(22, 28, 36, 0.6), rgba(22, 28, 36, 0.6)), url(https://res.cloudinary.com/nico0689crc/image/upload/v1717230458/fremantle-library/assets/images/home/phczyr70qejopqkr3vnh.jpg);
}

.hero__background--contact-us {
  background-image: linear-gradient(rgba(22, 28, 36, 0.6), rgba(22, 28, 36, 0.6)), url(https://res.cloudinary.com/nico0689crc/image/upload/v1717230461/fremantle-library/assets/images/contact/oqe9a3hywveyadzbufhz.jpg);
  background-position-x: right;
}

.hero__background--about-us {
  background-image: linear-gradient(rgba(22, 28, 36, 0.6), rgba(22, 28, 36, 0.6)), url(https://res.cloudinary.com/nico0689crc/image/upload/v1717230470/fremantle-library/assets/images/about/vomoyi8oea0kzzavuogj.jpg);
  background-position-x: right;
}

.hero__background--books {
  background-image: linear-gradient(rgba(22, 28, 36, 0.6), rgba(22, 28, 36, 0.6)), url(https://res.cloudinary.com/nico0689crc/image/upload/v1717230466/fremantle-library/assets/images/books/igejpx9isdyhuybjwapj.jpg);
  background-position-x: right;
}

.hero__title, 
.hero__subtitle {
  margin: 0;
  color: white;
  max-width: 60rem;
  text-align: center;
  margin-bottom: 1rem;
}

.hero__title.hero__title--align {
  text-align: center;
}

.hero__title .primary-text {
  color: var(--color-primary-main);
}

.hero__subtitle {
  font-size: 2rem;
}

@media screen and (min-width: 1100px) {  
  .hero {
    height: 60rem;
  }

  .hero__title.hero__title--align {
    text-align: left;
  }

  .hero__subtitle {
    font-size: 2.5rem;
  }
}